.bgstyle {
	background-color: #f8f8f8;
	padding: 20px;
}

.link-style {
	color: white;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

input {
	width: 75%;
	height: 40px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}

.button-style {
	border-style: none;
}

input[type=submit]:hover {
     background-position: 0px;
}

