body { 
	padding-top: 70px; 
}

button {
	background-color: white;
	border-style: none;
}

a {
	text-decoration: none;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}

.bgstyle {
	background-color: #f8f8f8;
	padding: 20px;
}

.link-style {
	color: white;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#challenge-word{
	font-size:24px;
}

input {
	width: 75%;
	height: 40px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin-top: 20px;
	padding: 10px;
}

input:focus, input:active {
	outline: none;
}

.button-style:focus, .button-style:active {
	outline: none;
}

.button-style {
	border-style: none;
	background-color: white;
	font-size: 14px;
}

.button-style-2 {
	border-style: none;
	background-color: #222;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	padding: 6px 15px 6px 15px;
}

.button-style-fav {
	border-style: none;
	background-color: white;
	font-size: 14px;
}

.button-style-fav:focus, .button-style-fav:active, .button-style-fav:hover {
	color: #ffd72f;
	border-style: none;
	outline: none;
}

#submit-challenge {
	background-color: #dcdcdc;
	border-radius: 2px;
	margin-top: 5px;
	margin-right: 20%;
	border-style: none;
	outline: none;
}

#submit-challenge:focus, #submit-challenge:active, #submit-challenge:hover {
	background-color: #666666;
	color: #ffffff;
	border-radius: 2px;
	margin-top: 5px;
	margin-right: 20%;
	border-style: none;
	outline: none;
}

#define {
	background-color: #dcdcdc;
	border-radius: 2px;
	margin-top: 5px;
	margin-right: 20%;
	border-style: none;
	outline: none;
}

#define:focus, #define:active, #define:hover {
	background-color: #666666;
	color: #ffffff;
	border-radius: 2px;
	margin-top: 5px;
	margin-right: 20%;
	border-style: none;
	outline: none;
}

.removeButton {
   width: 59px;
   height: 28px;
   background-color: #DCDCDC ;
   border-radius: 2px;
   display: inline-block;
   float: right;
   margin-top: 5px;
   margin-right: 20%;
}

.nav-style {
	border-radius: 0px;
}

.glyphstyle{
	font-size: 20px;
}

.glyphstyle2{
	font-size: 10px;
}

.container {
	padding-top: 20px;

}

.dict-type {
	font-family: 'Lora', serif;
	color: #D3D3D3;
	line-height: 200%;
	font-style: italic;
}

.dict-type-2 {
	font-family: 'Lora', serif;
	font-style: italic;
}

.color {
	color: red;
}

.center-block {  
    width:400px;  
    padding:10px;  
} 

.navbar-text {
	text-align: center;
}

ul li span{
	font-size: 25px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {
	h1 {
		font-size: 25px;
	}

	.dict-type {
		font-family: 'Lora', serif;
		color: #D3D3D3;
		line-height: 175%;
		font-size: 25px;
		font-style: italic;
	}

	.center-block {  
    	width:275px;  
    	padding:10px;  
    } 

    .container {
    	margin-right: 10px;
    	margin-left: 10px;
    }

}


@media only screen and (min-device-width : 375px) and (max-device-width : 568px) {
	h1 {
		font-size: 25px;
	}

	.dict-type {
		font-family: 'Lora', serif;
		color: #D3D3D3;
		line-height: 175%;
		font-size: 25px;
		font-style: italic;
	}

	.center-block {  
    	width: 300px;  
   	 	padding: 10px;  
    } 

    .container {
    	margin-right: 10px;
    	margin-left: 10px;
    }

    .navbar-text {
		text-align: center;
		font-size: 10px; 
	}

}